@import "../../design/abstracts/abstracts.scss";

$type: "o";
$block: "#{$type}-header";

.#{$block} {
  @include e("base") {
    @include flex();

    overflow: hidden;
    margin-top: $baseline * 3;
  }
}
