/* critical:start */

body {
  color: var(--text-color);
  font-family: $text-font-stack;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  padding-bottom: 1rem;
}

h1 {
  :nth-child(1), :nth-child(2) {
    text-align: center;
  }

  :nth-child(1) { // title
    font-size: 2.9rem;
    line-height: 3.4rem;
  }

  :nth-child(2) { // subtitle
    font-size: 2rem;
    line-height: 2.4rem;
  }

  > * {
    display: block;
  }
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

a {
  color: var(--link-color);

  &,
  &:hover {
    text-decoration: none;
  }
}

p, li {
  font-size: 1.6rem;
  line-height: 1.8rem;
}

p {
  margin: 0 0 1.65em 0;
}

blockquote,
blockquote p {
  font-size: 1.5rem;
  font-style: italic;
}

/* critical:end */
