@import '../../abstracts/abstracts.scss';

/* critical:start */
body {
  @include flex($direction: column);

  background-color: var(--main-background-color);
  padding: 0;
  overflow-x: hidden;
  position: relative;

  > * {
    width: 100%;
  }
}
/* critical:end */