@import "../../design/abstracts/abstracts.scss";

/* critical:start */
:root {
  --main-text-color: #{$c-eerie-black};
  --main-background-color: #{$c-cultured};
  --link-color: #{$c-indigo-blue};
}
/* critical:end */
