@import "../../design/abstracts/abstracts.scss";

$type: "m";
$blok: "#{$type}-figure";

.#{$blok} {
  @include e("caption") {
    * {
      border-bottom: 2px solid var(--main-text-color);
    }
  }
}
